# CSC 6621 Final Project - Using Graph Machine Learning Techniques to Identify Twitter Bots
Tyler Gibson, Anthony Reis, and Kaden Young | 5/7/2024 | CSC 6621

## Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Load Data

In [3]:
df = pd.read_csv('data/bot_detection_data.csv')
df

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,False,1,Adkinston,2020-05-11 15:29:50,NaN
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,True,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,True,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,True,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,False,1,Camachoville,2020-04-13 21:24:21,foreign mention
...,...,...,...,...,...,...,...,...,...,...,...
49995,491196,uberg,Want but put card direction know miss former h...,64,0,9911,True,1,Lake Kimberlyburgh,2023-04-20 11:06:26,teach quality ten education any
49996,739297,jessicamunoz,Provide whole maybe agree church respond most ...,18,5,9900,False,1,Greenbury,2022-10-18 03:57:35,add walk among believe
49997,674475,lynncunningham,Bring different everyone international capital...,43,3,6313,True,1,Deborahfort,2020-07-08 03:54:08,onto admit artist first
49998,167081,richardthompson,Than about single generation itself seek sell ...,45,1,6343,False,0,Stephenside,2022-03-22 12:13:44,star
49999,311204,daniel29,Here morning class various room human true bec...,91,4,4006,False,0,Novakberg,2022-12-03 06:11:07,home

## Exploratory Data Analysis

In [ ]:
# TODO

## Preprocess Data
Clean data and perform feature engineering.

In [ ]:
# TODO

## Divide Data into Training/Testing Sets

In [ ]:
# TODO

## Baseline Model

In [ ]:
# TODO

## Experiments

In [ ]:
# TODO

## Results

In [ ]:
# TODO