In [1]:
import torch
import numpy as np
import pandas as pd
from torch_geometric.data import Data
from torch_geometric.nn import GCNConv, BatchNorm
import torch.nn.functional as F
from sklearn.preprocessing import StandardScaler

In [2]:
dtypes = {
    'text': str,
    'user_id': str,
    'in_reply_to_user_id': str,
    'in_reply_to_screen_name': str,
    'place': str,
    'retweet_count': str,
    'reply_count': str,
    'favorite_count': str,
    'possibly_sensitive': str,
    'num_hashtags': str,
    'num_urls': str,
    'num_mentions': str,
    'bot': str,
}

df = pd.read_csv('twitter_data.csv', index_col=False, dtype=dtypes)
df = df.drop(columns=['Unnamed: 0'])
df.shape

/tmp/ipykernel_1145839/2933220302.py:17: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('twitter_data.csv', index_col=False, dtype=dtypes)

(24806824, 13)

In [3]:
df.head()

,text,user_id,in_reply_to_user_id,in_reply_to_screen_name,place,retweet_count,reply_count,favorite_count,possibly_sensitive,num_hashtags,num_urls,num_mentions,bot
0,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
1,http://t.co/HyI5EQKz6Q,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
2,"Tutti a tavola, con il filetto di baccalà. htt...",24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
3,http://t.co/NAHQ4l2pUy,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
4,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1

# Clean up the data

### Convert user_id and in_reply_to_user_id column to int. Drop rows where conversion failed.

In [4]:
df['user_id'] = pd.to_numeric(df['user_id'], errors='coerce').fillna(-1).astype(int)
df['in_reply_to_user_id'] = pd.to_numeric(df['in_reply_to_user_id'], errors='coerce').fillna(-1).astype(int)

In [5]:
rows_before = df.shape[0]

df = df.drop(df[df['user_id'] == -1].index)
df = df.drop(df[df['in_reply_to_user_id'] == -1].index)

rows_after = df.shape[0]

dropped_rows = rows_before - rows_after
print(f'Dropped {dropped_rows:,} rows')
print(f'Rows remaining: {rows_after:,}')

Dropped 11,919,554 rows
Rows remaining: 12,887,270

### Convert retweet_count, reply_count, favorite_count, num_hashtags, num_urls, num_mentions to int. Drops rows where conversion failed.

In [6]:
df['retweet_count'] = pd.to_numeric(df['retweet_count'], errors='coerce').fillna(-1).astype(int)
df[df['retweet_count'] == -1].shape

df['reply_count'] = pd.to_numeric(df['reply_count'], errors='coerce').fillna(-1).astype(int)
df[df['reply_count'] == -1].shape

df['favorite_count'] = pd.to_numeric(df['favorite_count'], errors='coerce').fillna(-1).astype(int)
df[df['favorite_count'] == -1].shape

df['num_hashtags'] = pd.to_numeric(df['num_hashtags'], errors='coerce').fillna(-1).astype(int)
df[df['num_hashtags'] == -1].shape

df['num_urls'] = pd.to_numeric(df['num_urls'], errors='coerce').fillna(-1).astype(int)
df[df['num_urls'] == -1].shape

df['num_mentions'] = pd.to_numeric(df['num_mentions'], errors='coerce').fillna(-1).astype(int)
df[df['num_mentions'] == -1].shape

(741486, 13)

In [7]:
rows_before = df.shape[0]

df = df.drop(df[df['retweet_count'] == -1].index)
df = df.drop(df[df['reply_count'] == -1].index)
df = df.drop(df[df['favorite_count'] == -1].index)
df = df.drop(df[df['num_hashtags'] == -1].index)
df = df.drop(df[df['num_urls'] == -1].index)
df = df.drop(df[df['num_mentions'] == -1].index)

rows_after = df.shape[0]

dropped_rows = rows_before - rows_after
print(f'Dropped {dropped_rows:,} rows')
print(f'Rows remaining: {rows_after:,}')

Dropped 741,488 rows
Rows remaining: 12,145,782

### Convert labels to int. Drop rows where conversion failed.

In [8]:
# convert bot labels to int
df['bot'] = pd.to_numeric(df['bot'], errors='coerce').fillna(-1).astype(int)

In [9]:
rows_before = df.shape[0]

df = df.drop(df[df['bot'] == -1].index)

rows_after = df.shape[0]

dropped_rows = rows_before - rows_after
print(f'Dropped {dropped_rows:,} rows')
print(f'Rows remaining: {rows_after:,}')

Dropped 0 rows
Rows remaining: 12,145,782

In [10]:
df.user_id.unique().shape

(12508,)

In [11]:
df

,text,user_id,in_reply_to_user_id,in_reply_to_screen_name,place,retweet_count,reply_count,favorite_count,possibly_sensitive,num_hashtags,num_urls,num_mentions,bot
0,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,24858289,0,NaN,NaN,0,0,0,NaN,0,1,0,1
1,http://t.co/HyI5EQKz6Q,24858289,0,NaN,NaN,0,0,0,NaN,0,1,0,1
2,"Tutti a tavola, con il filetto di baccalà. htt...",24858289,0,NaN,NaN,0,0,0,NaN,0,1,0,1
3,http://t.co/NAHQ4l2pUy,24858289,0,NaN,NaN,0,0,0,NaN,0,1,0,1
4,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,24858289,0,NaN,NaN,0,0,0,NaN,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24806819,RT @tyleroakley: ahhhh! I see #BringYoutubersT...,147900782,0,NaN,NaN,4678,0,0,NaN,1,0,1,0
24806820,RT @9GAG: Heaven is a place on earth with you ...,147900782,0,NaN,NaN,9368,0,0,NaN,0,0,1,0
24806821,WOAH. #LowerPricesForHoneymoonTourPH needs to ...,147900782,0,NaN,NaN,0,0,0,NaN,1,0,0,0
24806822,Let me start off with a clean slate.,147900782,0,NaN,NaN,0,0,0,NaN,0,0,0,0
24806823,@5soskittle @HiOrHeyRecords @5SOS I know! I ca...,147900782,523267467,5soskittle,NaN,0,0,0,NaN,0,0,4,0

Group the dataframe by user ids

In [12]:
# group by user_id
user_id_group = df.groupby('user_id').agg({
    'user_id': 'first',
    'in_reply_to_user_id': lambda x: set(x),
    'retweet_count': 'sum',
    'reply_count': 'sum',
    'favorite_count': 'sum',
    'num_hashtags': 'sum',
    'num_urls': 'sum',
    'num_mentions': 'sum',
    'bot': 'first',
}).reset_index(drop=True)
user_id_group

,user_id,in_reply_to_user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,bot
0,678033,"{0, 57917441, 837641, 9510922, 14985228, 14231...",242719,0,1674,1177,950,3554,0
1,722623,"{0, 14645160, 822237703, 23779848, 130873354, ...",908396,0,1301,1153,523,2275,0
2,755116,"{0, 5626882, 8442372, 16737797, 18040845, 4831...",105864,0,522,129,397,3078,0
3,755746,"{0, 237397505, 12538372, 95723526, 15633414, 1...",644062,0,275,872,1473,2192,0
4,785080,"{0, 2987852291, 221837829, 194008583, 2676231,...",139956,0,1661,168,207,2531,0
...,...,...,...,...,...,...,...,...,...
12503,3156622237,"{0, 318063361, 1267010562, 310359174, 24933197...",5,0,77,348,6,122,0
12504,3158349782,"{0, 407422208, 525308289, 378295046, 709345802...",7573,0,145,21,1,75,0
12505,3159993463,"{0, 368494299, 2972913323}",1932,0,8,22,41,30,0
12506,3161171948,"{0, 2966327327}",0,0,1,0,1,2,0
12507,3164941860,"{0, 16312576, 16331010, 18552281, 32959253, 36...",509229,0,2,48,43,126,0

In [13]:
unique_user_ids = df['user_id'].unique()

# remove zeros and users that are not in the user_id in the list in the in_reply_to_user_id column
user_id_group['in_reply_to_user_id'] = user_id_group['in_reply_to_user_id'].apply(lambda x: [i for i in x if i != 0 and i in unique_user_ids])
user_id_group

,user_id,in_reply_to_user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,bot
0,678033,[678033],242719,0,1674,1177,950,3554,0
1,722623,[722623],908396,0,1301,1153,523,2275,0
2,755116,"[12922462, 50737284, 118386377, 755116]",105864,0,522,129,397,3078,0
3,755746,"[17608721, 755746]",644062,0,275,872,1473,2192,0
4,785080,[785080],139956,0,1661,168,207,2531,0
...,...,...,...,...,...,...,...,...,...
12503,3156622237,[3156622237],5,0,77,348,6,122,0
12504,3158349782,[1689431460],7573,0,145,21,1,75,0
12505,3159993463,[],1932,0,8,22,41,30,0
12506,3161171948,[],0,0,1,0,1,2,0
12507,3164941860,[],509229,0,2,48,43,126,0

Remap user ids for both columns.

In [14]:
# get unique user_id from both columns
unique_user_ids = set(user_id_group['user_id'].tolist() + [uid for sublist in user_id_group['in_reply_to_user_id'].tolist() for uid in sublist])

# create a mapping dictionary from old to new ids
id_mapping = {old_id: idx for idx, old_id in enumerate(unique_user_ids)}

# remapping
user_id_group['user_id'] = user_id_group['user_id'].map(id_mapping)
user_id_group['in_reply_to_user_id'] = user_id_group['in_reply_to_user_id'].apply(lambda x: [id_mapping[uid] for uid in x])

user_id_group

,user_id,in_reply_to_user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,bot
0,8741,[8741],242719,0,1674,1177,950,3554,0
1,700,[700],908396,0,1301,1153,523,2275,0
2,587,"[4622, 4810, 10887, 587]",105864,0,522,129,397,3078,0
3,838,"[4764, 838]",644062,0,275,872,1473,2192,0
4,11997,[11997],139956,0,1661,168,207,2531,0
...,...,...,...,...,...,...,...,...,...
12503,5882,[5882],5,0,77,348,6,122,0
12504,2381,[4544],7573,0,145,21,1,75,0
12505,4429,[],1932,0,8,22,41,30,0
12506,3978,[],0,0,1,0,1,2,0
12507,4600,[],509229,0,2,48,43,126,0

# Create the data object.

In [15]:
# node features
node_features = ['retweet_count', 'reply_count', 'favorite_count', 'num_hashtags', 'num_urls', 'num_mentions']

standard_scaler = StandardScaler()
user_id_group[node_features] = standard_scaler.fit_transform(user_id_group[node_features])

nodes = torch.tensor(user_id_group[node_features].values, dtype=torch.float)
nodes

tensor([[-0.1036, -0.0368,  0.0103,  1.8403,  1.9243,  2.8369],
        [ 0.1250, -0.0368, -0.0078,  1.7958,  0.8810,  1.6332],
        [-0.1505, -0.0368, -0.0455, -0.1018,  0.5732,  2.3889],
        ...,
        [-0.1862, -0.0368, -0.0704, -0.3001, -0.2966, -0.4796],
        [-0.1869, -0.0368, -0.0707, -0.3409, -0.3943, -0.5060],
        [-0.0121, -0.0368, -0.0707, -0.2519, -0.2917, -0.3893]])

In [16]:
# labels (human or bot)
labels = torch.tensor(user_id_group['bot'].values, dtype=torch.float)
labels

tensor([0., 0., 0.,  ..., 0., 0., 0.])

In [17]:
# edges
edges = []

for index, row in user_id_group.iterrows():
    for reply_id in row['in_reply_to_user_id']:
        edges.append([row['user_id'], reply_id])

print(len(edges))
edges

5022

[[8741, 8741],
 [700, 700],
 [587, 4622],
 [587, 4810],
 [587, 10887],
 [587, 587],
 [838, 4764],
 [838, 838],
 [11997, 11997],
 [7760, 7760],
 [7896, 7896],
 [1022, 1022],
 [2464, 2464],
 [4274, 4274],
 [6906, 6906],
 [2529, 2529],
 [8427, 8427],
 [9682, 7877],
 [9682, 9682],
 [9682, 9344],
 [2394, 5],
 [2394, 2096],
 [2394, 2394],
 [4839, 4839],
 [4839, 12053],
 [7800, 7800],
 [9070, 9070],
 [9070, 8466],
 [2084, 2084],
 [9701, 9701],
 [7065, 1862],
 [9622, 9622],
 [10869, 10869],
 [10869, 10737],
 [10869, 2904],
 [2463, 2463],
 [12052, 222],
 [12052, 12052],
 [9040, 9040],
 [1839, 1839],
 [11726, 11726],
 [7698, 7698],
 [9217, 9217],
 [4338, 9762],
 [4338, 4338],
 [4338, 11728],
 [274, 274],
 [274, 2123],
 [5464, 5464],
 [11837, 11837],
 [9807, 9807],
 [12440, 3483],
 [12440, 12440],
 [4622, 4622],
 [4622, 4810],
 [7368, 7368],
 [4858, 4858],
 [2942, 2942],
 [5571, 5571],
 [5571, 8767],
 [10046, 7825],
 [10046, 10046],
 [4442, 4442],
 [1459, 6807],
 [1459, 1459],
 [5126, 11843],
 [5126, 11128],
 [5126, 9807],
 [5126, 5126],
 [5126, 8583],
 [7777, 7777],
 [2316, 2316],
 [2321, 9345],
 [2321, 2321],
 [279, 279],
 [9683, 9683],
 [2491, 2491],
 [3829, 3829],
 [9576, 8953],
 [9576, 9576],
 [2425, 2425],
 [4689, 4152],
 [4689, 3814],
 [4689, 4689],
 [1393, 1393],
 [3540, 3540],
 [10119, 2096],
 [10119, 2123],
 [10119, 11611],
 [10119, 10119],
 [10119, 5489],
 [7425, 7425],
 [5050, 8746],
 [5050, 5050],
 [5050, 10737],
 [5050, 12245],
 [11267, 11267],
 [5148, 5148],
 [2998, 2998],
 [11128, 11128],
 [11128, 5126],
 [7927, 7927],
 [10570, 10570],
 [2284, 2284],
 [3080, 3080],
 [1666, 5929],
 [1666, 1666],
 [2292, 2292],
 [4298, 4298],
 [9497, 9497],
 [7825, 10046],
 [7825, 7825],
 [3814, 3814],
 [3814, 8565],
 [3814, 4689],
 [3814, 9604],
 [3814, 5510],
 [6157, 6157],
 [7129, 7129],
 [8525, 11558],
 [8525, 10480],
 [8525, 8525],
 [10020, 10020],
 [12222, 12222],
 [5669, 5669],
 [5669, 12504],
 [11558, 11558],
 [11558, 5],
 [11558, 11789],
 [7547, 7547],
 [4347, 4347],
 [6076, 6408],
 [6076, 4903],
 [6076, 7213],
 [6076, 9899],
 [6076, 10737],
 [6076, 6076],
 [6076, 12379],
 [2383, 2383],
 [4724, 4724],
 [11112, 11112],
 [8645, 897],
 [8645, 2537],
 [8645, 8645],
 [1035, 1035],
 [1035, 3044],
 [7658, 7658],
 [8119, 8119],
 [9882, 9882],
 [3090, 3090],
 [1632, 1632],
 [9607, 9607],
 [3756, 3756],
 [7258, 4810],
 [7258, 587],
 [7258, 7258],
 [861, 861],
 [5360, 9620],
 [5360, 5360],
 [4903, 6408],
 [4903, 4903],
 [4903, 2904],
 [4903, 6076],
 [11789, 11558],
 [11789, 11789],
 [11789, 2287],
 [1474, 1474],
 [11049, 11049],
 [1183, 11323],
 [1183, 1183],
 [1729, 1729],
 [1729, 5126],
 [6369, 9345],
 [6369, 6369],
 [4395, 4395],
 [2325, 2325],
 [8597, 8597],
 [8597, 11878],
 [8723, 8723],
 [2677, 5],
 [2677, 10480],
 [2677, 2677],
 [2677, 5929],
 [2677, 2096],
 [2677, 588],
 [9696, 9696],
 [5651, 5651],
 [5929, 1666],
 [5929, 10459],
 [5929, 5929],
 [5929, 12415],
 [11862, 11862],
 [2052, 2052],
 [1595, 1595],
 [3608, 3608],
 [3608, 11638],
 [8565, 8565],
 [9899, 9899],
 [9899, 6408],
 [9899, 6076],
 [10257, 10257],
 [4764, 4764],
 [4764, 838],
 [3817, 3817],
 [9121, 9121],
 [8034, 10296],
 [8034, 8034],
 [8583, 8583],
 [8583, 11843],
 [8583, 5126],
 [3326, 3326],
 [11878, 11878],
 [12179, 12179],
 [9952, 9952],
 [9189, 9189],
 [9470, 9470],
 [4177, 4177],
 [2333, 2333],
 [8201, 8201],
 [11068, 11068],
 [11074, 11074],
 [9922, 9922],
 [4449, 4449],
 [5944, 5944],
 [9558, 4622],
 [9558, 4810],
 [9558, 9558],
 [9558, 11661],
 [11316, 11316],
 [11368, 11368],
 [11368, 2394],
 [687, 1378],
 [687, 687],
 [9140, 9140],
 [6285, 6285],
 [8791, 8791],
 [9452, 9452],
 [705, 705],
 [8157, 8157],
 [7699, 7699],
 [69, 69],
 [9559, 9559],
 [1089, 4810],
 [1089, 1089],
 [2875, 2875],
 [10737, 1808],
 [10737, 10737],
 [10737, 2904],
 [10737, 557],
 [10737, 6076],
 [10737, 12379],
 [10737, 2356],
 [1886, 1886],
 [10241, 10241],
 [10580, 10580],
 [5, 11558],
 [5, 5],
 [5, 5556],
 [5, 10119],
 [5, 2096],
 [5, 2394],
 [9669, 4903],
 [9669, 10737],
 [10824, 10824],
 [7642, 7642],
 [594, 594],
 [6960, 6960],
 [9136, 9136],
 [3357, 3357],
 [7963, 7963],
 [11305, 11305],
 [12068, 12068],
 [3510, 3510],
 [8509, 8509],
 [1863, 1863],
 [9490, 9490],
 [10991, 10991],
 [1970, 1970],
 [7480, 7480],
 [9206, 9206],
 [5972, 251],
 [5972, 5972],
 [8998, 8998],
 [5142, 5142],
 [9565, 8519],
 [9565, 9565],
 [9132, 9132],
 [10873, 10873],
 [10848, 10848],
 [4766, 4766],
 [1847, 1847],
 [12504, 5669],
 [12504, 12504],
 [8660, 8660],
 [6572, 6572],
 [8953, 8953],
 [8953, 9576],
 [11126, 11126],
 [580, 580],
 [9312, 9312],
 [9404, 9404],
 [9115, 9115],
 [10875, 10875],
 [5434, 5434],
 [9678, 5050],
 [9678, 9678],
 [2269, 2269],
 [12053, 4839],
 [12053, 12053],
 [5310, 9214],
 [5310, 5310],
 [9051, 9051],
 [9431, 9431],
 [9431, 12220],
 [11990, 11990],
 [9665, 9665],
 [12453, 12453],
 [6589, 6589],
 [6589, 6876],
 [5937, 5937],
 [1517, 2468],
 [1517, 1517],
 [2742, 5669],
 [2742, 2742],
 [4491, 4491],
 [9801, 9801],
 [7392, 7392],
 [7392, 12089],
 [6130, 6130],
 [11172, 11172],
 [7877, 7877],
 [7877, 9514],
 [5588, 5588],
 [5588, 4677],
 [5588, 11355],
 [5628, 5628],
 [2847, 2847],
 [5675, 12390],
 [5675, 5675],
 [8310, 8310],
 [11047, 11047],
 [4447, 6898],
 [4447, 6911],
 [4447, 4043],
 [4447, 4447],
 [4447, 8755],
 [4447, 11687],
 [4447, 4342],
 [4447, 12284],
 [4447, 8872],
 [7756, 7756],
 [5913, 5913],
 [6877, 7392],
 [6877, 6877],
 [8271, 8271],
 [7213, 6408],
 [7213, 4903],
 [7213, 7213],
 [7213, 10737],
 [7213, 5310],
 [7213, 6076],
 [10615, 10615],
 [7307, 7307],
 [1435, 1435],
 [1435, 5461],
 [8363, 8363],
 [1703, 1703],
 [1862, 5931],
 [1862, 7065],
 [5111, 5111],
 [1819, 1819],
 [4152, 4689],
 [4152, 9604],
 [4152, 4152],
 [490, 490],
 [7314, 7314],
 [1464, 1464],
 [8519, 8519],
 [8519, 9565],
 [7310, 7310],
 [7205, 10279],
 [7205, 7205],
 [5266, 8925],
 [5266, 10531],
 [5266, 5266],
 [5266, 10005],
 [5266, 1584],
 [5266, 10416],
 [5266, 5508],
 [5266, 3363],
 [4151, 4151],
 [2568, 2568],
 [5465, 5465],
 [7845, 7845],
 [73, 5513],
 [5510, 10715],
 [5510, 5510],
 [11377, 11377],
 [12188, 4830],
 [12188, 12188],
 [4425, 4425],
 [655, 655],
 [4742, 4742],
 [9643, 9643],
 [8081, 8081],
 [12454, 12454],
 [8996, 8996],
 [9521, 2123],
 [11727, 11727],
 [5421, 5421],
 [2508, 2508],
 [2508, 4352],
 [9876, 9876],
 [11189, 11189],
 [1727, 1727],
 [9154, 9154],
 [5820, 5820],
 [5916, 5916],
 [7613, 7613],
 [10717, 10717],
 [11545, 7892],
 [11545, 11545],
 [6870, 6870],
 [2095, 2095],
 [12016, 12016],
 [10524, 10524],
 [4732, 4732],
 [10828, 10828],
 [8811, 8811],
 [9767, 1730],
 [9767, 7283],
 [9767, 9767],
 [6492, 6492],
 [6265, 6265],
 [9044, 9044],
 [4230, 4230],
 [3423, 3423],
 [41, 41],
 [352, 4784],
 [352, 352],
 [10840, 11836],
 [10840, 10840],
 [7854, 7164],
 [7854, 7854],
 [10212, 10212],
 [5631, 5631],
 [8897, 8897],
 [237, 237],
 [3395, 3395],
 [11571, 11571],
 [5461, 1435],
 [5461, 5461],
 [672, 672],
 [10889, 10889],
 [1316, 1316],
 [4680, 4680],
 [5210, 5210],
 [9451, 9451],
 [4830, 4830],
 [4830, 12188],
 [7073, 7073],
 [11861, 11861],
 [9350, 9350],
 [9350, 5295],
 [10842, 10842],
 [7959, 11069],
 [7959, 7959],
 [544, 2284],
 [544, 544],
 [4464, 10531],
 [4464, 1370],
 [3189, 3189],
 [5247, 5247],
 [4758, 4758],
 [1139, 1139],
 [7174, 7174],
 [7174, 11323],
 [1808, 10737],
 [348, 348],
 [3443, 3443],
 [8864, 8864],
 [8181, 8181],
 [11792, 11792],
 [1951, 1951],
 [10715, 10715],
 [10715, 10737],
 [10715, 9604],
 [10715, 5510],
 [10715, 616],
 [11147, 11147],
 [1129, 1129],
 [12111, 12111],
 [12111, 4622],
 [12116, 12116],
 [8750, 8750],
 [12322, 12322],
 [3920, 3920],
 [202, 202],
 [202, 441],
 [1635, 1635],
 [1635, 4316],
 [12387, 12387],
 [3598, 5669],
 [7283, 7283],
 [7283, 5452],
 [7283, 3111],
 [5194, 5194],
 [432, 11947],
 [432, 432],
 [432, 11145],
 [9594, 9594],
 [5594, 5594],
 [11379, 11379],
 [9071, 9071],
 [1425, 1425],
 [11611, 5929],
 [11611, 2123],
 [11611, 11611],
 [11611, 10119],
 [3379, 3379],
 [1583, 9602],
 [1583, 1583],
 [2614, 2614],
 [2144, 2144],
 [9949, 9949],
 [162, 162],
 [4932, 4932],
 [850, 850],
 [3333, 3333],
 [12025, 12025],
 [455, 455],
 [3198, 3198],
 [6025, 6025],
 [6421, 6421],
 [1018, 1018],
 [1159, 1159],
 [1528, 1528],
 [7689, 7689],
 [4667, 4667],
 [11829, 6351],
 [11829, 11829],
 [11829, 9477],
 [280, 280],
 [2832, 2832],
 [2988, 2988],
 [10418, 10418],
 [8085, 8085],
 [255, 12323],
 [255, 255],
 [1082, 1082],
 [2384, 2904],
 [2384, 2384],
 [1145, 7270],
 [1145, 7527],
 [1145, 927],
 [1145, 1145],
 [12352, 12352],
 [12352, 6654],
 [12379, 2841],
 [12379, 10737],
 [12379, 2904],
 [12379, 6076],
 [12379, 12379],
 [5674, 6018],
 [5674, 5674],
 [4277, 4277],
 [3783, 3783],
 [9111, 9111],
 [4160, 4160],
 [5467, 5467],
 [5042, 11779],
 [5042, 5042],
 [1155, 1155],
 [9356, 9356],
 [9438, 9438],
 [6125, 6125],
 [6125, 3814],
 [7882, 7882],
 [8220, 8220],
 [1596, 1596],
 [10719, 10719],
 [11676, 11676],
 [9319, 9319],
 [10532, 8755],
 [10532, 10532],
 [10532, 12284],
 [9311, 9311],
 [12239, 12239],
 [12428, 5931],
 [12428, 12428],
 [6914, 6914],
 [4364, 4364],
 [11602, 11602],
 [386, 386],
 [9473, 9473],
 [6109, 6109],
 [1882, 1882],
 [958, 958],
 [6069, 6069],
 [12148, 12148],
 [1274, 1274],
 [1998, 1998],
 [4679, 4679],
 [9642, 12142],
 [12097, 12097],
 [11431, 11431],
 [7299, 7299],
 [7299, 9620],
 [8891, 8891],
 [9799, 9799],
 [7376, 5731],
 [95, 95],
 [5844, 5844],
 [2776, 2776],
 [2168, 2168],
 [7237, 2318],
 [7237, 7237],
 [8921, 8921],
 [12272, 12272],
 [6022, 6022],
 [32, 32],
 [32, 4264],
 [5481, 10737],
 [5481, 2904],
 [5481, 5481],
 [7229, 7229],
 [9866, 9866],
 [4962, 4962],
 [9163, 9163],
 [9789, 9789],
 [11159, 11159],
 [4810, 4622],
 [4810, 4810],
 [4810, 1089],
 [4810, 9558],
 [4810, 8767],
 [4810, 587],
 [4881, 4881],
 [4881, 6440],
 [6213, 6213],
 [2450, 3575],
 [8207, 8207],
 [6609, 6609],
 [780, 9786],
 [780, 780],
 [3363, 4591],
 [3363, 3363],
 [3363, 4673],
 [3363, 5266],
 [3363, 7197],
 [3363, 4316],
 [3018, 3018],
 [6866, 6866],
 [11588, 11588],
 [11297, 11297],
 [3919, 3919],
 [1166, 1166],
 [9892, 9892],
 [7007, 7007],
 [8414, 8414],
 [7883, 7883],
 [10162, 4464],
 [10162, 10531],
 [10162, 10162],
 [10162, 1370],
 [3657, 3657],
 [897, 897],
 [897, 2537],
 [897, 8645],
 [897, 5339],
 [3503, 3503],
 [7903, 7903],
 [10201, 10201],
 [4133, 3987],
 [4133, 4219],
 [4133, 6970],
 [4133, 4133],
 [2306, 2306],
 [5498, 5498],
 [6707, 6707],
 [6707, 12142],
 [6707, 2267],
 [6707, 7197],
 [11722, 11722],
 [12371, 12371],
 [7172, 4903],
 [7172, 7172],
 [10063, 10063],
 [3600, 3600],
 [3600, 11843],
 [6814, 6814],
 [9802, 9802],
 [11407, 11407],
 [11290, 9934],
 [11290, 11290],
 [9308, 9308],
 [12300, 11843],
 [12300, 12300],
 [3960, 5731],
 [3527, 3527],
 [12146, 12146],
 [8401, 8401],
 [1634, 1634],
 [12017, 12017],
 [830, 830],
 [9719, 9719],
 [7524, 7524],
 [10714, 10714],
 [5959, 4591],
 [5959, 5959],
 [5959, 4673],
 [5959, 2593],
 [1581, 1581],
 [4677, 5588],
 [4677, 4677],
 [4677, 1208],
 [557, 10737],
 [557, 6408],
 [9324, 9324],
 [7305, 7305],
 [7292, 7292],
 [7389, 7389],
 [2404, 2404],
 [2404, 5126],
 [6963, 6963],
 [10295, 10295],
 [841, 841],
 [3586, 4439],
 [3586, 3586],
 [10279, 10279],
 [10279, 7205],
 [7500, 7500],
 [3353, 3353],
 [2562, 2562],
 [12472, 12472],
 [7370, 7370],
 [6242, 7723],
 [6242, 5018],
 [6242, 7596],
 [6242, 6242],
 [8559, 8559],
 [11975, 11975],
 [9011, 9011],
 [8245, 8245],
 [5716, 5716],
 [11105, 5],
 [11105, 11105],
 [11105, 588],
 [5358, 7271],
 [5358, 5358],
 [7357, 7357],
 [7197, 7603],
 [7197, 7197],
 [7197, 2593],
 [7197, 3363],
 [3325, 3325],
 [3650, 3650],
 [11160, 11160],
 [4357, 4357],
 [11399, 11399],
 [7485, 1841],
 [7485, 10539],
 [7485, 7485],
 [7485, 6855],
 [1966, 1966],
 [7660, 5213],
 [7660, 7660],
 [8225, 8225],
 [7669, 7669],
 [6180, 6180],
 [11043, 11043],
 [6360, 6360],
 [5425, 8543],
 [5425, 5425],
 [6389, 2807],
 [6389, 6389],
 [1658, 1658],
 [7190, 7190],
 [281, 281],
 [3025, 3025],
 [6970, 4219],
 [6970, 6970],
 [6970, 4133],
 [9448, 9448],
 [9448, 2561],
 [194, 194],
 [273, 273],
 [7772, 7772],
 [7772, 5501],
 [7772, 2571],
 [1648, 1648],
 [8154, 3960],
 [3340, 3340],
 [9636, 9636],
 [10345, 10345],
 [8652, 8652],
 [3741, 3741],
 [11334, 11334],
 [3289, 3289],
 [3464, 3464],
 [11843, 11843],
 [11843, 1384],
 [2276, 2276],
 [7074, 7074],
 [4685, 4685],
 [4083, 4083],
 [11288, 11288],
 [12133, 12133],
 [8097, 8097],
 [8097, 11843],
 [12130, 12130],
 [5731, 7376],
 [11207, 11207],
 [7231, 5623],
 [7231, 7231],
 [7231, 3759],
 [8297, 8297],
 [584, 584],
 [2580, 2580],
 [588, 5],
 [588, 11105],
 [588, 5929],
 [588, 12415],
 [12310, 12310],
 [2605, 2605],
 [7178, 7178],
 [7830, 7830],
 [11527, 11527],
 [3342, 3342],
 [2620, 2620],
 [2620, 2123],
 [2620, 5489],
 [12283, 12283],
 [5236, 5236],
 [1730, 9767],
 [1730, 1730],
 [9386, 9386],
 [10505, 10505],
 [8384, 8384],
 [11380, 11380],
 [6099, 6099],
 [11003, 11003],
 [7603, 3363],
 [7603, 7603],
 [7603, 7197],
 [7603, 10043],
 [10305, 10305],
 [10305, 5489],
 [4227, 4227],
 [4227, 12380],
 [8325, 8325],
 [2388, 2388],
 [10829, 10829],
 [9887, 9887],
 [827, 827],
 [11323, 7174],
 [11323, 11323],
 [2556, 2556],
 [2556, 1841],
 [2556, 6855],
 [8428, 2452],
 [8428, 8428],
 [11001, 11001],
 [2928, 2928],
 [2928, 5050],
 [8379, 8379],
 [9124, 9124],
 [9670, 9670],
 [1180, 1180],
 [3986, 3986],
 [3867, 3867],
 [3065, 3065],
 [8037, 8037],
 [12284, 8755],
 [12284, 12284],
 [1073, 1073],
 [1073, 9256],
 [3431, 3431],
 [3431, 11874],
 [1279, 1279],
 [7380, 7380],
 [9500, 9500],
 [2634, 2634],
 [10847, 10847],
 [784, 784],
 [11796, 11796],
 [3012, 3012],
 [10444, 10444],
 [9188, 9188],
 [1460, 2508],
 [1460, 1460],
 [488, 488],
 [63, 63],
 [10798, 11323],
 [10798, 10798],
 [1236, 1236],
 [8398, 8398],
 [3904, 3904],
 [5033, 5033],
 [12476, 12476],
 [2537, 7132],
 [2537, 897],
 [2537, 12415],
 [2537, 2537],
 [2537, 8645],
 [9605, 9605],
 [9605, 6762],
 [9605, 1332],
 [5821, 5821],
 [12243, 12243],
 [222, 222],
 [222, 12052],
 [222, 1808],
 [1098, 1098],
 [7081, 7081],
 [8404, 9355],
 [8404, 8404],
 [12171, 12171],
 [12171, 7855],
 [10280, 10280],
 [10217, 10217],
 [7607, 7607],
 [11664, 11664],
 [4401, 4401],
 [1548, 1548],
 [1216, 1216],
 [5452, 7283],
 [5452, 5452],
 [5761, 5761],
 [4140, 4140],
 [3212, 3212],
 [3411, 3411],
 [10416, 10416],
 [10416, 5266],
 [11661, 9558],
 [11661, 11661],
 [5276, 5276],
 [11274, 11274],
 [4534, 5731],
 [8772, 233],
 [8772, 8772],
 [9702, 9702],
 [2712, 2712],
 [10815, 10815],
 [4376, 4376],
 [9987, 9987],
 [3951, 3951],
 [8783, 8783],
 [68, 5731],
 [5914, 5914],
 [8872, 12354],
 [8872, 4447],
 [8872, 8755],
 [8872, 8872],
 [5580, 5580],
 [4450, 4450],
 [4450, 10135],
 [4450, 3734],
 [8312, 8312],
 [405, 405],
 [10284, 10284],
 [1875, 1875],
 [2477, 2477],
 [3418, 3418],
 [5501, 7772],
 [5501, 5501],
 [422, 422],
 [11078, 11078],
 [8165, 8165],
 [4380, 4380],
 [5671, 5671],
 [3694, 3694],
 [8595, 8595],
 [6660, 6660],
 [4041, 4041],
 [1491, 1491],
 [2551, 2551],
 [8543, 8543],
 [8543, 5425],
 [1384, 11843],
 [1384, 1384],
 [4005, 4005],
 [358, 358],
 [756, 756],
 [7576, 7576],
 [6807, 6807],
 [8329, 8329],
 [1276, 1276],
 [1276, 6408],
 [3575, 3575],
 [12247, 12247],
 [11415, 11415],
 [7055, 41],
 [6510, 6510],
 [3798, 3798],
 [9998, 9011],
 [9998, 9998],
 [1344, 1344],
 [6087, 6087],
 [11728, 4338],
 ...]

In [18]:
edges = torch.tensor(edges, dtype=torch.long).t().contiguous()
print(edges.shape)
edges

torch.Size([2, 5022])

tensor([[8741,  700,  587,  ..., 4148, 5882, 2381],
        [8741,  700, 4622,  ..., 4148, 5882, 4544]])

In [19]:
data = Data(x=nodes, edge_index=edges, y=labels)
data

Data(x=[12508, 6], edge_index=[2, 5022], y=[12508])